{% extends 'website/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <header>
        <h2>Your Partner for</h2>
        <h2>Innovative Solutions</h2>
        <p>
            Boost your business efficiency and 
            simplify your operations with custom-built business applications.
            We offer end-to-end solutions, dedicated support, and services,
            all tailored to meet your unique needs, ensuring fast and efficient results.
        </p>
    </header>
    <section>
        <h2>Our Services</h2>
        <p>We offer a wide range of services to help you achieve your goals.</p>
    </section>
{% endblock %}